#sidebar {
  position: absolute;
  width: 25%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: grey;
  padding: 20px;
}

#map {
    position: absolute;
    width: 75%;
    height: 100%;
    top: 0;
    right: 0;
}

#title1 {
    font-size: 24px;
    font-weight: bold;
}
